<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Document</title>
</head>
<body>
<p><a href="/">Go back home</a></p>
<h1>Creating New Menu</h1>
<form method="post" action="/create">
    <div>
        <label for="name">Menu Name<br></label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <p>Ingredient 1</p>
            <label for="id1">Food ID</label>
            <input type="number" id="id1" name="id1">
            <label for="amount1">Amount (in g)</label>
            <input type="number" id="amount1" name="amount1">
    </div>
    <div>
        <label for="id2">Food ID</label>
        <input type="number" id="id2" name="id2">
        <label for="amount2">Amount (in g)</label>
        <input type="number" id="amount2" name="amount2">
    </div>
    <div>
        <label for="id3">Food ID</label>
        <input type="number" id="id3" name="id3">
        <label for="amount3">Amount (in g)</label>
        <input type="number" id="amount3" name="amount3">
    </div>
    <p>please refer <a href="https://www.mext.go.jp/a_menu/syokuhinseibun/1365297.htm">this</a> site for the food id</p>
    <input type="submit">
</form>
</body>
</html>
